{% extends "BriocheCoreBundle::layout.html.twig" %}

{% block jumbotron %}
<div class="jumbotron">
    <div class="container text-center">
        <h2>Brioche du Dimanche</h2>
        <br />
        <p>
            Commandez et personnalisez votre brioche en ligne,<br />
            puis faîtes vous livrer gratuitement en Essonne !
        </p>
        <br />
        <p>
            <a class="btn btn-primary btn-lg" href="{{ path('brioche_index') }}">Commander ma brioche</a>
        </p>
    </div>
</div>
{% endblock %}

{% block body %}
<section class="home-steps">
    <h2 class="text-center">Fonctionnement</h2>
    <br />
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3>Commande</h3>
                            <br />
                            <p>
                                <img src="{{ asset('bundles/briochecore/img/order.png') }}" alt="Commande" class="img-circle img-thumbnail img-responsive">
                                <br />
                                <br />
                                Personnalisez votre brioche à travers le
                                <a href="{{ path('brioche_index') }}">formulaire de création</a>
                                en choisissant la tournée, la taille, en ajoutant un agrément,
                                et en variant la quantité de beurre ou de sucre.
                            </p>
                            <hr class="visible-xs-block" />
                        </div>
                        <div class="col-sm-4">
                            <h3>Fabrication</h3>
                            <br />
                            <p>
                                <img src="{{ asset('bundles/briochecore/img/cooking.png') }}" alt="Fabrication" class="img-circle img-thumbnail img-responsive">
                                <br />
                                <br />
                                Une fois la commande validée, je prépare votre brioche
                                <a href="{{ path('front_products') }}">avec ces ingrédients</a>.<br />
                                Je la prépare la veille pour le lendemain, et la fais cuire le jour même.
                            </p>
                            <hr class="visible-xs-block" />
                        </div>
                        <div class="col-sm-4">
                            <h3>Tournée</h3>
                            <br />
                            <p>
                                <img src="{{ asset('bundles/briochecore/img/saxo.png') }}" alt="Livraison" class="img-circle img-thumbnail img-responsive">
                                <br />
                                <br />
                                Je livre moi même vos brioches dans les <a href="{{ path('front_cities') }}">villes que je dessers</a> sans coût supplémentaire.<br />
                                Vous la recevez tiède, et dans le crénaux horaire que vous avez choisi.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="round">
    <h2 class="text-center">Prochaines tournées</h2>
    <br />
    
    {% include 'BriocheCoreBundle::_rounds.html.twig' %}
</section>
{% endblock %}
