<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="center-block tournees">
            {% if rounds|length > 0 %}
                {% for round in rounds %}
                    <div class="btn-group tournee{% if round.full %} full{% endif%}" data-round-id="{{ round.id }}">
                        <button class="btn btn-primary btndate" role="button">
                            <p class="date">{{ round.date|localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM') }}</p>
                            <p class="count"><small>Commandes :</small> {{ round.dummy + round.brioches|length }} / {{ round.maximum }}</p>
                        </button>
                        {% if not round.full %}
                            <button class="btn btn-success btnaction" role="button">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                        {% else %}
                            <button class="btn btn-primary btnaction" role="button">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <form action="{{ path('brioche_round') }}" method="post" class="form-round">
            <input type="hidden" name="round" />
        </form>
        <div class="panel">
            <div class="panel-body">
                {% if rounds|length == 0 %}
                    <p class="lead">
                        Il n'y a pas de tournées prevues pour l'instant.
                    </p>
                {% endif %}
                <p>
                    Vous souhaitez reçevoir un email
                    lorsqu'une nouvelle tournée est prévue ?
                    Vous pouvez enregistrer votre adresse email ici :
                </p>
                {{ form(mailForm) }}
                <p class="lead text-success mail-list-bottom-message"></p>
            </div>
        </div>
    </div>
</div>
