<img alt="alt" src="http://dummyimage.com/800x200/ababab/515151.jpg">
<br />
<div class="row text-center">
    <div class="col-md-6">
        <h4>Brioche</h3>
        {% if brioche.getValidType or brioche.getValidSize %}
            {% if brioche.getValidType %}
                <p>
                    Type <b>{{ brioche.typeTitle }}</b><br />
                    {% if not brioche.locked %}
                        <a href="{{ path('brioche_type') }}">Modifier</a>
                    {% endif %}
                </p>
            {% else %}
                <div class="well">
                    <a href="{{ path('brioche_type') }}">Choisir le type</a>
                </div>
            {% endif %}

            {% if brioche.getValidSize %}
                <p>
                    Taille {{ brioche.size.value }} (~{{ brioche.size.averageWeight }}g),<br />
                    pour <b>{{ brioche.size.nbPeople }}</b> personnes<br />
                    {% if not brioche.locked %}
                        <a href="{{ path('brioche_size') }}">Modifier</a>
                    {% endif %}
                </p>
            {% else %}
                <div class="well">
                    <a href="{{ path('brioche_size') }}">Choisir la taille</a>
                </div>
            {% endif %}
        {% else %}
            <div class="well">
                <a href="{{ path('brioche_type') }}">Choisir</a>
            </div>
        {% endif %}
    </div>
    <div class="col-md-6">
        <h4>Touche personnelle</h4>
        {% if brioche.getValidPerso %}
            <p>
                {% if brioche.butter == 1 %}
                    Moins beurrée,<br />
                {% elseif brioche.butter == 3 %}
                    Bien beurrée,<br />
                {% endif %}

                {% if brioche.sugar == 1 %}
                    Moins sucrée,<br />
                {% elseif brioche.sugar == 3 %}
                    Bien sucrée,<br />
                {% endif %}

                Agrément : <b>{{ brioche.extra.title }}</b><br />
                {% if not brioche.locked %}
                    <a href="{{ path('brioche_perso') }}">Modifier</a>
                {% endif %}
            </p>
        {% else %}
            <div class="well">
                <a href="{{ path('brioche_perso') }}">Choisir</a>
            </div>
        {% endif %}
    </div>
</div>
<br />
<div class="row text-center">
    <div class="col-md-6">
        <h4>Date de livraison</h4>
        {% if brioche.getValidRound %}
            <p>
                <span class="date">
                    <b>{{ brioche.round.date|localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM') }}</b>
                </span>
                <br />
                {% if not brioche.locked %}
                    <a href="{{ path('brioche_round') }}">Modifier</a><br />
                {% endif %}
                <br />
                Entre <b>8h</b> et <b>9h</b><br />
            </p>
        {% else %}
            <div class="well">
                <a href="{{ path('brioche_round') }}">Choisir</a>
            </div>
        {% endif %}
    </div>
    <div class="col-md-6">
        <h4>Adresse de livraison</h4>
        {% if brioche.getValidAddress %}
            <address style="margin-bottom:0">
                <strong>{{ client.fullName }}</strong><br />
                {{ client.address }}<br />
                {{ client.city.postalcode }} {{ client.city.title }}<br />

                {% if client.email %}
                    <abbr title="Email">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </abbr> {{ client.email }}
                {% endif %}
            </address>
            {% if not brioche.locked %}
                <a href="{{ path('brioche_address') }}">Modifier</a>
            {% endif %}
        {% else %}
            <div class="well">
                <a href="{{ path('brioche_address') }}">Choisir</a>
            </div>
        {% endif %}
    </div>
</div>
