{% extends "BriocheCoreBundle:Brioche:layout.html.twig" %}

{% block title %}Touche personnelle - {{ parent() }}{% endblock %}

{% block metadesc %}Vous préférez une brioche bien sucrée, ou peu beurrée ? Personnalisez la composition de votre brioche !{% endblock %}

{% block body %}
{{ parent() }}

<section class="perso">
    <h2 class="text-center">Touche personnelle</h2>
    <br />
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="thumbnail">
                <img src="{{ asset('bundles/briochecore/img/type-' ~ (brioche.type ? 'parisienne' : 'vendeenne') ~ '-large.jpg') }}" alt="Brioche {{ brioche.type ? 'Parisienne' : 'Vendéenne' }}">
                <h3 class="text-center">{{ brioche.typeTitle }} {{ brioche.size.value }}</h3>
                <div class="padd">
                    <p class="lead">
                        Vous préférez une brioche bien sucrée, ou peu beurrée&nbsp;?
                        Personnalisez ici la composition de votre brioche&nbsp;!
                    </p>
                    <br />
                    <form class="form-horizontal" role="form" method="post">
                        <div class="form-group">
                            <label for="butter" class="col-xs-4 control-label">Beurre</label>
                            <input
                                id="slider-butter"
                                type="text"
                                name="butter"
                                value="{{ brioche.butter }}"
                                class="span2"
                                style="width: 200px;display:none"
                                data-slider-min="1"
                                data-slider-max="3"
                                data-slider-step="1"
                                data-slider-value="{{ brioche.butter }}"
                            />
                        </div>

                        <div class="form-group">
                            <label for="sugar" class="col-xs-4 control-label">Sucre</label>
                            <input
                                id="slider-sugar"
                                type="text"
                                name="sugar"
                                value="{{ brioche.sugar }}"
                                class="span2"
                                style="width: 200px;display:none"
                                data-slider-min="1"
                                data-slider-max="3"
                                data-slider-step="1"
                                data-slider-value="{{ brioche.sugar }}"
                            />
                        </div>

                        <div class="form-group">
                            <label for="extra" class="col-xs-4 control-label">Agrément</label>
                            <select id="extra" name="extra" class="extra-selector select2">
                                {% for extra in extras %}
                                    <option value="{{ extra.id }}"{% if brioche.extra and (brioche.extra.id == extra.id) %} selected="selected"{% endif %}>
                                        {{ extra.title }}
                                        {% if extra.price > 0 %}
                                            (+ {{ extra.price }} €)
                                        {% endif %}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <br />
                        <div class="text-center">
                            <button class="btn btn-success" role="submit">
                                <span class="glyphicon glyphicon-ok-circle"></span>
                                Valider
                            </button>
                        </div>
                        <br />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
