{% extends "BriocheCoreBundle::layout.html.twig" %}

{% block body %}
{% include 'BriocheCoreBundle:Brioche:_wizard.html.twig' %}

<section class="perso">
    <h2 class="text-center">Touche personnelle</h2>
    <br />
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="thumbnail">
                <img src="http://dummyimage.com/800x200/ababab/515151.jpg" alt="alt">
                <h3 class="text-center">{{ brioche.typeTitle }} {{ brioche.size.value }}</h3>
                <div class="padd">
                    <p class="lead">
                        Et est admodum mirum videre plebem innumeram mentibus ardore
                        quodam infuso cum dimicationum curulium eventu pendentem.
                    </p>
                    <form class="form-horizontal" role="form" method="post">
                        <div class="form-group">
                            <label for="butter" class="col-xs-4 control-label">Beurre</label>
                            <input
                                id="slider-butter"
                                type="text"
                                name="butter"
                                value="{{ brioche.butter }}"
                                class="span2"
                                style="width: 200px"
                                data-slider-min="0"
                                data-slider-max="2"
                                data-slider-step="1"
                                data-slider-value="{{ brioche.butter }}"
                                data-slider-formater="formaterButter"
                            />
                        </div>

                        <div class="form-group">
                            <label for="sugar" class="col-xs-4 control-label">Sucre</label>
                            <input
                                id="slider-sugar"
                                type="text"
                                name="sugar"
                                value="{{ brioche.sugar }}"
                                class="span2"
                                style="width: 200px"
                                data-slider-min="0"
                                data-slider-max="2"
                                data-slider-step="1"
                                data-slider-value="{{ brioche.sugar }}"
                                data-slider-formater="formaterSugar"
                            />
                        </div>

                        <div class="form-group">
                            <label for="extra" class="col-xs-4 control-label">Agrément</label>
                            <select id="extra" name="extra" class="extra-selector select2">
                                {% for extra in extras %}
                                    <option value="{{ extra.id }}"{% if brioche.extra and (brioche.extra.id == extra.id) %} selected="selected"{% endif %}>
                                        {{ extra.title }}
                                        {% if extra.price > 0 %}
                                            (+ {{ extra.price }} €)
                                        {% endif %}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-success" role="submit">
                                <span class="glyphicon glyphicon-ok-circle"></span>
                                Valider
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
