{% extends "BriocheCoreBundle::layout.html.twig" %}

{% block body %}
<section class="size">
    <h2 class="text-center">Taille de brioche</h2>
    <br />
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="thumbnail">
                <img src="http://dummyimage.com/800x200/ababab/515151.jpg" alt="alt">
                <h3 class="text-center">Vendéene</h3>
                <br />
                <ul class="nav nav-tabs nav-justified" id="size-tab" role="tablist">
                    {% for size in sizes %}
                        <li{% if size.value == brioche.size.value %} class="active"{% endif %}>
                            <a href="#taille-{{ size.value }}">{{ size.value }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="padd">
                    <div class="tab-content">
                        {% for size in sizes %}
                            <div class="tab-pane{% if size.value == brioche.size.value %} active{% endif %}" id="taille-{{ size.value }}">
                                <h4>Brioche {{ size.value }}</h4>
                                <p class="lead price">Prix : {{ size.price }} €</p>
                                <p><b>{{ size.nbPeople }}</b> personnes</p>
                            </div>
                        {% endfor %}
                    </div>
                    <form method="post">
                        <input type="hidden" name="size" value="{{ brioche.size.value }}" />
                        <div class="text-center">
                            <button class="btn btn-success" role="submit">
                                <span class="glyphicon glyphicon-ok-circle"></span>
                                Valider
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
