{% extends "BriocheCoreBundle:Brioche:layout.html.twig" %}

{% block title %}Taille de brioche - {{ parent() }}{% endblock %}

{% block metadesc %}Choisissez la taille de votre brioche, pour 2 ou 6 personnes ?{% endblock %}

{% block body %}
{{ parent() }}

<section class="size">
    <h2 class="text-center">Taille de brioche</h2>
    <br />
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="thumbnail">
                <img src="{{ asset('bundles/briochecore/img/type-' ~ (brioche.type ? 'parisienne' : 'vendeenne') ~ '-large.jpg') }}" alt="Brioche {{ brioche.type ? 'Parisienne' : 'Vendéenne' }}">
                <h3 class="text-center">{{ brioche.typeTitle }}</h3>
                <br />
                <ul class="nav nav-pills nav-justified" id="size-tab" role="tablist">
                    {% for size in sizes %}
                        <li{% if size.value == brioche.size.value %} class="active"{% endif %}>
                            <a href="#taille-{{ size.value }}">Taille {{ size.value }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="padd">
                    <div class="tab-content">
                        {% for size in sizes %}
                            <div class="tab-pane{% if size.value == brioche.size.value %} active{% endif %}" id="taille-{{ size.value }}">
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <h3 class="no-margin-top">Brioche {{ size.averageWeight }} grammes</h3>
                                        <p>Pour <b>{{ size.nbPeople }}</b> personnes</p>
                                        <p class="lead price text-success">Prix : <b>{{ size.price|number_format(2, '.') }} €</b></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <form method="post">
                        <input type="hidden" name="size" value="{{ brioche.size.value }}" />
                        <div class="text-center">
                            <button class="btn btn-success" role="submit">
                                <span class="glyphicon glyphicon-ok-circle"></span>
                                Valider
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
