{% extends "BriocheCoreBundle::layout.html.twig" %}

{% block body %}
{% include 'BriocheCoreBundle:Brioche:_wizard.html.twig' %}

<section class="summary">
    <h2 class="text-center">Résumé de la commande</h2>
    <br />
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="thumbnail">
                <img alt="alt" src="http://dummyimage.com/800x200/ababab/515151.jpg">
                <br />
                <div class="row text-center">
                    <div class="col-md-6">
                        <h4>Brioche</h3>
                        {% if brioche.getValidType or brioche.getValidSize %}
                            {% if brioche.getValidType %}
                                <p>
                                    Type <b>{{ brioche.typeTitle }}</b><br />
                                    <a href="{{ path('brioche_type') }}">Modifier</a>
                                </p>
                            {% else %}
                                <div class="well">
                                    <a href="{{ path('brioche_type') }}">Choisir le type</a>
                                </div>
                            {% endif %}

                            {% if brioche.getValidSize %}
                                <p>
                                    Taille {{ brioche.size.value }} (~{{ brioche.size.averageWeight }}g),<br />
                                    pour <b>{{ brioche.size.nbPeople }}</b> personnes<br />
                                    <a href="{{ path('brioche_size') }}">Modifier</a>
                                </p>
                            {% else %}
                                <div class="well">
                                    <a href="{{ path('brioche_size') }}">Choisir la taille</a>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="well">
                                <a href="{{ path('brioche_type') }}">Choisir</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <h4>Touche personnelle</h4>
                        {% if brioche.getValidPerso %}
                            <p>
                                {% if brioche.butter == 0 %}
                                    Moins beurrée,<br />
                                {% elseif brioche.butter == 2 %}
                                    Bien beurrée,<br />
                                {% endif %}

                                {% if brioche.sugar == 0 %}
                                    Moins sucrée,<br />
                                {% elseif brioche.sugar == 2 %}
                                    Bien sucrée,<br />
                                {% endif %}

                                Agrément : <b>{{ brioche.extra.title }}</b><br />
                                <a href="{{ path('brioche_perso') }}">Modifier</a>
                            </p>
                        {% else %}
                            <div class="well">
                                <a href="{{ path('brioche_perso') }}">Choisir</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <br />
                <div class="row text-center">
                    <div class="col-md-6">
                        <h4>Date de livraison</h4>
                        {% if brioche.getValidRound %}
                            <p>
                                <span class="date">
                                    <b>{{ brioche.round.date|localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM') }}</b>
                                </span>
                                <br />
                                <a href="{{ path('brioche_round') }}">Modifier</a><br />
                                <br />
                                Entre <b>7h45</b> et <b>8h15</b><br />
                                <a href="#">Modifier</a>
                            </p>
                        {% else %}
                            <div class="well">
                                <a href="{{ path('brioche_round') }}">Choisir</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <h4>Adresse de livraison</h4>
                        {% if brioche.getValidAddress %}
                            <address style="margin-bottom:0">
                                <strong>{{ client.firstName }} {{ client.lastName }}</strong><br />
                                {{ client.address }}<br />
                                {{ client.city.postalcode }} {{ client.city.title }}<br />

                                {% if client.email %}
                                    <abbr title="Email">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </abbr> {{ client.email }}
                                {% endif %}
                            </address>
                            <a href="{{ path('brioche_address') }}">Modifier</a>
                        {% else %}
                            <div class="well">
                                <a href="{{ path('brioche_address') }}">Choisir</a>
                            </div>
                        {% endif %}
                    </div>
                </div>

                {% if brioche.allValid %}
                    <br /><br />
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <h4 class="text-center">Prix</h4>
                            <table class="table table-striped table-hover price-table">
                                <tbody>
                                    <tr>
                                        <td class="desc">Brioche taille {{ brioche.size.value }}</td>
                                        <td class="price">{{ brioche.size.price|number_format(2, '.') }} €</td>
                                    </tr>
                                    <tr>
                                        <td class="desc">Agrément : {{ brioche.extra.title }}</td>
                                        <td class="price">{{ brioche.extra.price|number_format(2, '.') }} €</td>
                                    </tr>
                                    <tr class="total">
                                        <td class="desc">Total :</td>
                                        <td class="price text-success">{{ brioche.price|number_format(2, '.') }} €</td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="text-center">
                                <a href="{{ pay_full_url }}" type="button" class="btn btn-primary">Payer tout maintenant</a>
                                <br /><br />
                                Vous pouvez payer la moitié maintenant par carte,<br />
                                et le reste Dimanche matin en liquide.
                                <br />
                                <a href="{{ pay_half_url }}" type="button" class="btn btn-primary">Payer la moitié maintenant et le reste en liquide</a>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <br /><br />
            </div>
        </div>
    </div>
</section>
{% endblock %}
