{% extends "BriocheCoreBundle:Brioche:layout.html.twig" %}

{% block title %}Heure de livraison - {{ parent() }}{% endblock %}

{% block metadesc %}Définissez l'heure avant laquelle vous souhaitez être livré.{% endblock %}

{% block body %}
{{ parent() }}

<section class="size">
    <h2 class="text-center">Heure de livraison</h2>
    <br />
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="thumbnail">
                <img src="{{ asset('bundles/briochecore/img/type-' ~ (brioche.type ? 'parisienne' : 'vendeenne') ~ '-large.jpg') }}" alt="Brioche {{ brioche.type ? 'Parisienne' : 'Vendéenne' }}">
                <h3 class="text-center">{{ brioche.typeTitle }} {{ brioche.size.value }}</h3>
                <br />
                <div class="padd">
                    <p class="lead">
                        Définissez la tranche horaire dans laquelle vous souhaitez être livré.
                        Selon le nombre de brioches à livrer dans la même tournée,
                        il est possible que vous soyez livré un peu plus tôt.
                    </p>
                    <div class="row">
                        {{ form_start(briocheTimeForm) }}
                        <div class="col-sm-4 lead text-center">
                            <p><span class="glyphicon glyphicon-time"></span> Entre {{ form_widget(briocheTimeForm.shipTimeMin) }}</p>
                        </div>
                        <div class="col-sm-4 lead text-center">
                            <p>et {{ form_widget(briocheTimeForm.shipTimeMax) }}</p>
                        </div>
                        <div class="col-sm-4 text-center">
                            {{ form_widget(briocheTimeForm.Valider) }}
                        </div>
                        {{ form_end(briocheTimeForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
