{#
    See :
    https://github.com/symfony/symfony/blob/master/src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig
#}

{% block form_start %}
{% spaceless %}
    {% set method = method|upper %}
    {% if method in ["GET", "POST"] %}
        {% set form_method = method %}
    {% else %}
        {% set form_method = "POST" %}
    {% endif %}
    {% set attr = attr|merge({'class':'form-horizontal'}) %}
    <form name="{{ form.vars.name }}" method="{{ form_method|lower }}"{% if action %} action="{{ action }}"{% endif %} role="form"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {% if form_method != method %}
        <input type="hidden" name="_method" value="{{ method }}" />
    {% endif %}
{% endspaceless %}
{% endblock form_start %}


{% block form_row %}
{% spaceless %}
    <div class="form-group has-feedback{% if form.vars.submitted %} has-{{ form.vars.valid ? 'success' : 'error' }}{% endif %}">
        {{ form_label(form) }}
        <div class="{{ attr.wrapper_class|default('col-sm-8') }}">
            {{ form_widget(form) }}
        </div>
        {{ form_errors(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}


{% block form_label -%}
    {% if label is not sameas(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif %}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif %}
        {% if label is empty -%}
            {% set label = name|humanize %}
        {%- endif -%}
        {# Add boostrap classes #}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' col-sm-4 control-label')|trim}) %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
    {%- endif %}
{%- endblock form_label %}


{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
        <div class="col-sm-4 form-errors">
            {% for error in errors %}
                <span class="label label-danger">{{
                    error.messagePluralization is null
                        ? error.messageTemplate|trans(error.messageParameters, 'validators')
                        : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                }}</span>
                {% if not loop.last %}<br />{% endif %}
            {% endfor %}
        </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}


{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% if form.vars.submitted %}
        <span class="glyphicon glyphicon-{{ form.vars.valid ? 'ok' : 'remove' }} form-control-feedback"></span>
    {% endif %}
{% endspaceless %}
{% endblock form_widget_simple %}

{% block textarea_widget -%}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget %}

{% block button_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% else %}
        {% set label = label ~ name|humanize %}
    {% endif %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' btn btn-primary'}) %}
    <div class="{{ attr.wrapper_class|default('col-sm-offset-4 col-sm-8') }}">
        <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain)|raw }}</button>
    </div>
{% endspaceless %}
{% endblock button_widget %}

{% block submit_widget -%}
{% set type = type|default('submit') %}
{% set attr = attr|merge({'class': attr.class|default('') ~ ' btn-success'}) %}
{% set label = '<span class="glyphicon glyphicon-ok-circle"></span> ' ~ label %}
{{- block('button_widget') -}}
{%- endblock submit_widget %}
