<h2>Tournées et commandes</h2>

<div class="panel-group" id="accordion">
    {% for round in rounds %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#tournee-{{ round.id }}">
                        <span class="text-capitalize">{{ round.date|localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM') }}</span>
                        ({{ round.total }} / {{ round.maximum }})
                        -
                        {% transchoice (round.total - round.dummy) %}{0} Pas de commande|{1} <b>Une</b> commande|]1,Inf] <b>%count%</b> commandes{% endtranschoice %}
                    </a>
                </h4>
            </div>
            <div id="tournee-{{ round.id }}" class="panel-collapse collapse{% if round.isNext %} in{% endif %}">
                <div class="panel-body">
                </div>
                <table class="table table-hover">
                    <thead>
                        {% include 'BriocheAdminBundle:Default:_roundBriocheTableHead.html.twig' %}
                    </thead>
                    <tbody>
                        {% for brioche in round.brioches %}
                            {% include 'BriocheAdminBundle:Default:_roundBriocheRow.html.twig' %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#brioches-sans-tournee">
                    Brioches sans tournée ({{ briochesWithoutRound|length }})
                </a>
            </h4>
        </div>
        <div id="brioches-sans-tournee" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
            <table class="table table-hover">
                <thead>
                    {% include 'BriocheAdminBundle:Default:_roundBriocheTableHead.html.twig' %}
                </thead>
                <tbody>
                    {% for brioche in briochesWithoutRound %}
                        {% include 'BriocheAdminBundle:Default:_roundBriocheRow.html.twig' %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
